body {
    background-image: url("../images/cruisewp.jpg");
	background-repeat: repeat-y;
	background-size: 100%;
	background-image-height: 100%;
	font-family: 'Roboto', sans-serif;

}

#overlay {
 	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    vertical-align: middle;
	z-index:500;
    color: black;
    margin: 30px auto;
    border-radius: 15px;
    height: 90%;
    width: 90%;

}

#overlay img {
	max-height: 100%;
	max-width: 100%;
	border-radius: 50px;
	margin: auto;
	display: block;
}



.jumbotron-fluid {
	background-color: white;
	border-radius: 15px;
	margin-top: 30px;
	padding-top: 30px;
	text-align: center;
	height: 20%;
}

.flex-row {
	border-radius: 15px;
	text-align: center;
}

.row {
	background-color: white;
	border-radius: 15px;
	text-align: center;

}

.container {
	background-color: white;
	border-radius: 15px;
	text-align: center;
	height: 90%;
	width: 90%;
	opacity: 1;
}

#titletext {
	padding: 20px 0 0 20px;
	text-align: center;
	vertical-align: middle;

}

#overlayimg{
	height: 100%;
}

#timer {
	height: 12%;
}

#questionrow {
	height: 15%;
}

#answersrow {
	height: 50%;
	vertical-align: middle;

}


#answers {
	background-color: white;
	border-radius: 15px;
	text-align: center;
	padding-bottom: 0;
	overflow: visible;
}

#ans1,
#ans2,
#ans3,
#ans4	{
	position: relative;
	padding-top: 5.5%;

	transform: translateY(-50%);
	height: 25%;
	border-style: groove;
	cursor: pointer;
	border-radius: 45px;
	margin: 5px;
	background-color: #4098d3;
    color: whitesmoke;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 51%);

}

#ans1:hover,
#ans2:hover,
#ans3:hover,
#ans4:hover	{
	height: 25%;
	border-style: ridge;
	background-color: lightgreen;

}

#answercolumn img {
	height: 80%;
	margin-left: 50%;
	transform: translateX(-50%);
}

